@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

 /* Header Section */
 .header{
    width: 100%;
    height: 15vh;
    /* border: 2px solid black; */
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .logo{
    /* background-color: aqua; */
    width: 10%;
    height: 15vh;
 }
 .searchbar{
    width: 50%;
    height: 15vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .logsign{
    width: 15%;
    height: 15vh;
    /* background-color: red; */
 }
.log1{
    width: 80%;
    position: relative;
    top: 40%;
    left: 10%;
    cursor: pointer;
 }
 .input{
    border: none;
    padding: 15px 100px;
    text-align: start;
    border-radius: 4px;
    /* background-color: rgb(237, 238, 239); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .locat .fa-location-dot{
    /* color: red; */
    position: relative;
    left: 10%;
    cursor: pointer;
 }
 .locat .fa-caret-down{
    z-index: 1;position: relative;
    right: 10%;
    cursor: pointer;
 }
 .glass .fa-magnifying-glass{
    position: relative;
    left: 5%;
    z-index: 1;
    cursor: pointer;
 }
 .glass .input{
    position: relative;
    right:9%;
 }
 .logsign{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
 }
 .logsign .btn1{
    border: none;
    background-color: white;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
 }
 .btn1:hover{
    color: black;

 }

 /* home - Section */
 .home{
   width: 90%;
   height: 5vh;
   /* border: 2px solid rebeccapurple; */
   margin: auto;
   margin-top: 3vh;
 }
 .home .on{ 
   font-family: 'Poppins', sans-serif;
   color: gray;
   cursor: pointer;
   transition: 0.5s;
   font-weight: 400;
   font-size: 1.2em;
 }
 .home .four{
   color: rgb(209, 207, 207);
 }
 .home .on:hover{
 color: red;
 }

 /* Dining-secton */
 .dining{
   width: 80%;
   /* border: 2px solid black; */
   height: 20vh;
   margin: auto;
   display: flex;
   /* justify-content: space-between; */
 }
 .out,.scooter,.night{
   width: 20%;
   height: 18vh;
   /* background-color: aqua; */
   /* border: 2px solid black; */
 }
 .logo2{
   width: 30%;
   background-color: rgb(238, 236, 236);
   border-radius: 50%;
   padding: 12px;
   position: relative;
   top: 20%;
 }
 .logo3{
   width: 30%;
   background-color: rgb(246, 228, 140);
   border-radius: 50%;
   padding: 12px;
   position: relative;
   top: 20%;
 }
 .out p,.scooter p,.night p{
   display:inline;
   font-family: 'Poppins' , sans-serif;
   font-size: 1.3em;
   color: grey;
   font-weight: 200;
 }
 
 /* line Section */
 .line{
   width: 100%;
   height: 0.1em;
   background-color: rgb(231, 229, 229);
 }
 
 /* stybtn section */
 .stybtn{
   width: 85%;
   height: 10vh;
   /* border: 2px dashed darkgoldenrod; */
   margin: auto;
   margin-top: 5vh;
   position:sticky;
 }
 .sty{
   padding: 12px 12px;
   background-color: white;
   border-radius: 10px;
   border-color: rgb(146, 144, 144);
   font-family: 'Poppins',sans-serif;
   color: rgb(146, 144, 144);
    cursor: pointer;
    transition: 0.5s;
 }
 .sty:hover{
   background-color:rgb(241, 240, 240) ;
 }

 /* inspiration section */
 .inspiration{
   width: 100%;
   height: 50vh;
   background-color: rgb(223, 220, 220);
 }
 .cntinsp{
   width: 85%;
   height: 50vh;
   margin: auto;
   /* display: flex; */
 }
 .cntinsp h1{
   font-family: 'Poppins',sans-serif;
   font-weight: 300;
   font-size: 2em;
   position: relative;
   top: 5%;
 }
 .im{
  width: 70%;
  cursor: pointer;
  
 }
 .insp-img{
   position: relative;
  top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 /* Top Brands */
 .top{
   width: 90%;
   height: 50vh;
   /* border: 2px solid black; */
   margin: auto;
   margin-top: 5vh;
   cursor: pointer;
 }
.top h1,.food h1{    /*Food section h1 */
   font-family: 'Poppins',sans-serif;
   font-weight: 300;
   font-size: 2rem;
}
.brands{
   width: 100%;
   height: 38vh;
   /* border: 2px solid slateblue; */
   margin-top: 5vh;
   display: flex;
   
}
.brands-img{
   width: 20%;
   height: 33vh;
   /* border: 2px dotted darkcyan; */
   text-align: center;
   line-height: 2em;
   
}
.brands-img img{
   width: 70%;
   border-radius: 30%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* order food section */
.food{
   width: 90%;
   height: fit-content;
   /* border: 2px solid blueviolet; */
   margin: auto;
}
.fud{
   display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.andr{
   margin-top: 5vh;
   width:30%;
   height:80vh;
   /* border: 2px dotted orangered; */
   cursor: pointer;
   border-radius: 10px;
   transition: 0.5s;
}
.andr:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.andr h2{
 position: relative;
 bottom: 5vh;
 left: 3vh;
 border-radius: 7px;
 font-weight: 400;
 font-family: 'Poppins',sans-serif;
 font-size: 1rem;
 background-color: rgb(113, 113, 224);
 color: white;
 display: inline-block;
 padding: 2px 8px;
}
.fudimg{
   text-align: center;
   width: 90%;
   border-radius: 10px;
   margin-left: 3vh;
   margin-top: 5vh;
}
.ankl{
   width: 90%;
   height: 20vh;
   /* border: 2px solid blue; */
   margin: auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.ankl .h3{
   width: 70%;
   height: 4vh;
   /* border: 2px solid black; */
   font-family: 'poppins',sans-serif;
   font-weight: 400;
   color: gray;

   /* text-align: center; */
}
#heading{
   font-size: 1.5rem;
   color: black;
}
.ankl .h4{
   width: 30%;
   /* height: 4vh; */
   /* border: 2px solid pink; */
   text-align: center;
  color: gray;
}
#green{
   background-color: rgb(9, 102, 9);
   color: aliceblue;
   border-radius: 10px;
   width: fit-content;
   height: 5vh;
   padding: 10px 10px;
}
.max{
   display: flex;
   justify-content: space-around;
   /* border: 2px solid red; */
   width: 90%;
   /* height: 6vh; */
   margin: auto;
   margin-top: 2vh;
}
.max img{
   width: 15%;
   height: 4vh;
}
.max p{
   font-family: 'Poppins';
   font-weight: 200;
   color: gray;
   font-size: 1rem;
   text-align: end;
}

/* Footer Section */
.ftr{
   width: 100%;
   height: 70vh;
   /* border: 2px solid red; */
   margin-top: 8vh;
   background-color: rgb(244, 246, 248);
}
.ftr h1{
   margin-top: 5vh;
   margin-left: 5vw;
   font-family: 'Poppins',sans-serif;
   font-size: 1.8rem;
   font-weight: 300;
}
.lists{
   width: 90%;
   margin: auto;
   height: 70vh;
   /* border: 2px solid black; */
  
   /* margin-top: 5vh; */
}
.lists li{
   list-style: none;
   border: 1px solid rgb(228, 228, 228);
   padding: 25px 12px;
   margin-top: 5vh;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
}

/* lowest Footer section */
.lowest{
   width: 100%;
   height: 80vh;
   background-color: rgb(242, 242, 242);
}
.upberth{
   display: flex;
   justify-content: space-between;
}
.mny{
   width: 95%;
   /* border: 2px solid black; */
   height: 80vh;
   margin: auto;
}
.vio img{
   width:15%;
   margin-top: 5vh;
}
.oiv{
   margin-top: 5vh;
}
.India,.English{
   padding:0.4rem 2rem;
   font-size: 1.1rem;
   border-radius: 5px;
   cursor: pointer;
}
.lowerberth{
   display: flex;
   justify-content: space-between;
}
.lw{
   width: 18%;
   height: 45vh;
   /* border: 2px solid red; */
   margin-top: 5vh;
}
.lw h1{
   font-weight: 500;
   font-family: 'Poppins',sans-serif;
   text-transform: uppercase;
}
.lw p{
   margin-top: 2vh;
   font-family: 'Poppins',sans-serif;
   cursor: pointer;
   color: gray;
   transition: 0.5s;
   font-size: 1.1rem;
}
p:hover{color: black;}
.lw .fa-brands{
   margin-left: 1vw;
   margin-top: 4vh;
   background-color: black;
   color: aliceblue;
   padding: 0.6rem;
   border-radius: 50%;
   cursor: pointer;
}
.lw img{
   width: 60%;
   margin-top: 3vh;
   margin-left: 3vw;
   cursor: pointer;
}
.lne{
   width: 100%;
   background-color: gray;
   height: 0.1vh;
   margin-top: 8vh;
   margin-bottom: 4vh;
}